<launch>
  <!--include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/-->

  <!--include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch"/-->

  <node pkg="tx2_cover_clean" type="UsingMovebaseToCleanNode" respawn="true" name="UsingMovebaseToCleanNode" output="screen" clear_params="true">
    <rosparam file="$(find tx2_cover_clean)/config/costmap_common_params.yaml" command="load" ns="cleaning_costmap" />
    <rosparam file="$(find tx2_cover_clean)/config/cleaning_costmap_params.yaml" command="load" />
  </node>
  
</launch>
